<h2 id='title'>Welcome to Ember Southern California</h2>

{{link-to 'Home' 'application'}}
{{link-to 'About' 'about'}}
{{link-to 'Speakers' 'speakers'}}
{{link-to 'Presentations' 'presentations'}}

{{outlet}}
